# Build output
**/bin/
**/obj/

# IDE / Editor
.idea/
.vs/
*.user
*.suo
*.DotSettings.user

# OS
.DS_Store
Thumbs.db

# Project
/old
/docs

# Secrets / Environment
**/appsettings.Development.json
**/appsettings.Local.json

# Publish profiles
**/Properties/PublishProfiles/

# Claude
/.claude

# Playwright
.playwright-mcp/